.onestep-popup {
  display: none;
}

.onestep-popup_active {
  display: block;
}

.onestep__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.onestep__content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.onestep__form {
  display: flex;
  flex-direction: column;
}

.onestep__header {
  align-self: center;
}

.onestep__close-button {
  background-image: url("../../../images/x-bold.svg");
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-position: center;
  padding: 0;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.onestep__form-flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}

.onestep__input {
  border: 1px solid black;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
  width: 90%;
  height: 30px;
  font-size: 15px;
}

.onestep__textarea {
  border: 1px solid black;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
  width: 90%;
  height: 55px;
  font-size: 15px;
}

.onestep__submit-button {
  color: white;
  background-color: #009688;
  height: 50px;
  width: 190px;
  border: none;
  border-radius: 4px;
  margin: 20px auto;
  cursor: pointer;
  transition: 0.2s;
  align-self: center;
}

.onestep__submit-button:disabled {
  opacity: 0.7;
}

.onestep__submit-button:hover {
  background-color: #037a6f;
}

.onestep__success {
  display: flex;
}

.onestep__success-text {
  margin: 75px 10px 25px 10px;
  font-size: 18px;
}

.onestep__hours {
  margin-left: 10px;
  font-size: 15px;
  color: #009688;
}

@media screen and (max-width: 768px) {
  .onestep__content {
    margin: 0 10px;
    width: 100%;
    padding: 10px;
  }

  .onestep__input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
  }

  .onestep__textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .onestep__submit-button {
    margin: 10px auto;
    width: 80%;
  }
}
