.form-page {
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container {
  width: 396px;
  margin: 0 auto;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.form__title {
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto 50px auto;
}

.form__submit-button {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: black;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  margin-top: 55px;
  transition: 0.2s;
}

.form__submit-button:disabled {
  background-color: gray;
}

.form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 6px 0;
  outline: none;
  height: 18px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form__notion {
  width: 100%;
  border: 1px solid #f44336;
  padding: 10px;
  box-sizing: border-box;
  margin: 15px 0;
  background-color: rgb(255, 243, 227);
}

.form__notion-text {
  text-align: center;
  margin: 5px 0;
}

.form__input-label {
  color: #a0a0a0;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 10px;
  visibility: hidden;
}

.form__input:focus {
  border-bottom:
    1,
    5px solid black;
}

.input__error {
  margin: 0;
  color: #ff4062;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}

.form__link-toggle {
  margin-top: 16px;
}

.form__link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.form__link-caption {
  font-size: 18px;
}

.form__go-back {
  margin: 15px 0;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  font-size: 16px;
  color: #00695c;
}

.forgot-link {
  font-weight: 600;
  text-decoration: none;
  color: #00bcd4;
}

.form__go-back:hover {
  opacity: 0.8;
}

#buttonContainerId {
  margin: 10px 0 20px 0;
}

.success-message {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.form__sub {
  margin: 0 0 15px 0;
  color: rgb(82, 82, 82);
  font-weight: 500;
  font-size: 15px;
}

@media screen and (max-width: 390px) {
  .form__container {
    width: 280px;
  }

  .form__title {
    margin: 0;
    text-align: center;
  }

  .form__input {
    padding: 5px 0;
    border-radius: 0;
  }

  .form__submit-button {
    margin-top: 20px;
  }

  .form__fieldset {
    margin: 0 10px;
  }

  .form__go-back {
    font-size: 16px;
  }

  .form__sub {
    margin: 15px 0;
  }
}
