.main-categories {
  margin: 90px auto;
}

.categories-header {
  text-align: center;
  margin-bottom: 40px;
}

.categories-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 130px);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 200px;
  justify-content: space-around;
}

.categories-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 0.2s;
}

.categories-item:hover {
  opacity: 0.8;
}

.category-cover {
  background-color: #00695c;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-pic_xs {
  filter: invert();
  max-height: 65px;
}

.category-pic_s {
  filter: invert();
  max-height: 75px;
}

.category-pic_m {
  max-height: 90px;
  filter: invert();
}

.category-title {
  font-weight: 700;
  color: black;
  margin: 0;
  font-size: large;
  text-align: center;
}

.categories-link {
  text-decoration: none;
  color: black;
}

.main-banner__slide {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .categories-list {
    gap: 20px;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 100px;
    justify-content: space-around;
  }

  .main-page {
  }
}

@media screen and (max-width: 678px) {
  .categories-list {
    margin: 0 30px;
  }

  .main-banner {
    box-sizing: border-box;
    padding: 10px;
  }

  .main-categories {
    margin: 45px auto;
  }

  .main-banner__slide {
  }

  .main-banner__pic {
    border-radius: 5px;
  }

  .categories-header {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 435px) {
  .categories-list {
    gap: 15px;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-around;
  }
}
