.mobile-navbar {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.mobile-navbar__container {
  padding: 0 45px;
  width: 100%;
  height: 54px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-navbar__item {
  position: relative;
}

.mobile-navbar__pic {
  opacity: 0.3;
}

.label-container_mobile {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #589201;
  position: absolute;
  right: -10px;
  top: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.label-text_mobile {
  font-weight: 500;
  color: white;
  font-size: 12px;
}

.label-mobile-container_active {
  visibility: visible;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .mobile-navbar {
    display: flex;
  }
}
