.gallery-popup {
  background-color: rgb(245, 245, 245);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  overflow-y: scroll;
  transition:
    visibility 0.3s,
    opacity 0.3s;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.gallery-popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.gallery-popup__image {
  height: 90vh;
  margin-bottom: 10px;
}

.gallery-popup__preview-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 30px;
  top: 30px;
}

.gallery-popup__image-preview {
  width: 70px;
  object-fit: contain;
  margin-bottom: 10px;
  cursor: pointer;
}

.popup__image_active-border {
  border: 1px solid rgb(71, 70, 70);
}

.close-button {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 37px;
  height: 37px;
  border: none;
  border-radius: 5px;
  color: grey;
  opacity: 0.6;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button:hover {
  opacity: 0.9;
}

.close-icon {
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .gallery-popup__preview-container {
    display: none;
  }

  .gallery-popup__image {
    width: 100%;
    object-fit: contain;
  }
}
