.card {
  /* border-radius: 10px; */
  max-width: 280px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.card:hover {
  /* position: fixed; */
  /* box-shadow: 1px 1px 5px gray; */
}

.card:hover .card__header {
  /* color: rgb(6, 119, 25); */
  /* font-weight: 500; */
  opacity: 0.8;
}

.card:hover .card__price {
  /* color: rgb(6, 119, 25); */
}

.card__image-container {
  min-width: 270px;
  max-height: 345px;
  position: relative;
}

.card__new-label {
  width: 25%;
  background-color: rgb(88, 146, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.card__sale-label {
  width: 20%;
  background-color: #f93c00;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.card__sold-label {
  width: 40%;
  background-color: rgb(132 132 132);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.label_active {
  visibility: visible;
  z-index: 1;
}

.label-aside {
  left: 20%;
}

.card__new-label_text {
  color: white;
  font-size: 13px;
  margin: 5px 0;
  text-align: center;
}

.card__mobile-container {
  width: 100%;
  position: relative;
  display: none;
}

.card__mobile-container_nostock {
  opacity: 0.7;
}

.card__image {
  width: 100%;
  height: 345px;
  object-fit: cover;
}

/* затемнение фотографии по краям для красоты каталога */
.card__image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0em 0em 50px 45px rgb(0 0 0 / 3%);
  pointer-events: none;
}

/* листание превью картинок в каталоге  */
.card__previews {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
  z-index: 1;
}

.card__preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.card__image-container:hover .card__preview-mark {
  opacity: 0.4;
}

.card__preview-container:hover .card__preview-mark {
  opacity: 0.8;
}

.card__preview-mark {
  width: 95%;
  height: 3px;
  background-color: rgb(128, 128, 128);
  margin: 0 auto;
  opacity: 0;
}

.card__description-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0;
}

.card__price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card__price_crossed {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
  text-decoration: line-through;
}

.card__sale-price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 7px;
  color: #f93c00;
}

.sale-container {
  display: flex;
  align-items: center;
}

.card__header {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  transition: 0.2s ease;
}

.card__save-button {
  border: none;
  padding: 0;
  width: 23px;
  height: 23px;
  background-color: transparent;
  /* background-image: url('../../images/heart.svg'); */
  background-image: url("../../images/heart-bold_grey_24.svg");
  background-position: center;
  object-fit: contain;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
}

.card__save-button_active {
  background-image: url("../../images/heart-fill-red.svg");
}

.card__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1110px) {
  .card__image {
    /* height: auto; */
    /* width: auto; */
  }

  .card__image-container {
    min-width: 220px;
    /* max-height: 300px; */
    position: relative;
  }
}

@media screen and (max-width: 770px) {
  .card__image-container {
    display: none;
  }

  .card__mobile-container {
    display: block;
  }

  .card__new-label {
    top: 0;
    bottom: auto;
    width: 40%;
  }

  .card__sale-label {
    bottom: 4px;
  }

  .card__new-label_text {
    font-size: 12px;
  }
}

@media screen and (max-width: 520px) {
  .card__mobile-container {
    /* max-width: 270px; */
    max-height: 280px;
    position: relative;
  }

  .card__image {
    /* width: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card {
    width: 100%;
  }

  .card__description-area {
    margin: 10px 0;
  }

  .card__price {
    margin-bottom: 3px;
    font-size: 12px;
  }

  .card__price_crossed {
    font-size: 11px;
  }

  .card__sale-price {
    margin-bottom: 3px;
    font-size: 13px;
  }

  .card__header {
    font-size: 13px;
  }
}
