:root {
  --product-color: #000;
}

.product {
  width: 1200px;
  min-height: 100vh;
}

.product__title {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  max-width: 90%;
}

.product__2nd-title {
  font-size: 19px;
  margin: 40px 0 35px 0;
}

.product__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: rgb(65, 65, 65);
}

.product_font_main {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.product__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.product__description {
  margin: 0;
}

/* ГАЛЕРЕЯ */

.gallery {
  width: 40%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.gallery__previews {
  width: 15%;
  height: 512px;
  overflow-x: hidden;
  overflow-y: auto;
}

.gallery__previews::-webkit-scrollbar {
  display: none;
}

.product__nav-button {
  width: 100%;
  height: 26px;
  border: none;
  background-color: white;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.product__up-button {
  background-image: url("../../images/caret-up.svg");
  position: sticky;
  top: 0px;
}

.product__down-button {
  background-image: url("../../images/caret-down.svg");
  position: sticky;
  bottom: 8px;
}

.gallery__preview {
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.gallery__preview:hover {
  border: 1px solid rgb(71, 70, 70);
}

.gallery_active-border {
  border: 1px solid rgb(71, 70, 70);
}

.gallery__container {
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* .gallery__preview-container {
} */

.gallery__main-pic {
  max-width: 410px;
  object-fit: contain;
}

.product_block_2 {
  width: 25%;
}

/* РАЗМЕРЫ КОЛЕЦ */

.sizes {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.size-card {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.size-label {
  position: relative;
}

.size-button {
  position: absolute;
  width: 1px;
  height: 1px;
  color: white;
  overflow: hidden;
  display: none;
  clip-path: inset(0 0 0 0);
}

.size-pseudo-button {
  height: 40px;
  border: 2px solid rgb(214, 221, 212);
  border-radius: 5px;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
}

.size-button:hover + .size-pseudo-button {
  border-color: #000000;
}

.size-button:checked + .size-pseudo-button {
  /* border-color: #499b06; */
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid black;
}

.size-button:focus + .size-pseudo-button {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* ТАБЛИЦА */

.table {
  width: 100%;
}

/* хотелось бы красивее */
tbody td {
  max-width: 40%;
}

.table__unit {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.table_column_left {
  color: #01172e99;
  font-weight: 400;
  text-align: left;
}

.table_column_right {
  min-width: 40%;
}

.table_column_right a {
  color: black;
}

.table__unit div:nth-child(2) {
  flex: 1 0;
  border-bottom: 1.4px dotted #01172e99;
  height: 1.1em;
  margin: 0 0.3em;
}

.product_block_3 {
  width: 30%;
  position: sticky;
  top: 24px;
  padding-bottom: 24px;
}

.product-form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.product__price {
  font-size: 25px;
  font-weight: 600;
  margin: 15px 0;
}

.product__price_crossed {
  font-weight: 400;
  opacity: 0.6;
  text-decoration: line-through;
  font-size: 17px;
}

.product__sale-price {
  font-size: 25px;
  font-weight: 600;
  margin: 15px 0;
  margin-left: 8px;
  color: #f93c00;
}

.product-form__heading {
  /* margin: 20px 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-button {
  width: 100%;
  height: 55px;
  border: none;
  background-color: var(--product-color);
  color: white;
  border-radius: 4px;
  margin: 15px 0 15px 0;
  transition: all 0.25s;
  cursor: pointer;
}

.add-button:hover {
  background-color: hsl(from var(--product-color) h s calc(l - (l * 0.15)));
}

.onestep-button {
  width: 100%;
  height: 55px;
  border: 2px solid var(--product-color);
  color: #1f1f1f;
  background: white;
  border-radius: 3px;
  transition: all 0.25s;
  cursor: pointer;
  font-weight: 500;
}

/* .add-button:disabled { */
/* background-color: rgb(128 128 128); */
/* color:  rgb(185, 185, 185); */
/* } */

.add-button_added {
  width: 100%;
  height: 55px;
  border: none;
  color: white;
  border-radius: 4px;
  margin: 15px 0 0 0;
  background-color: rgb(88, 146, 1);
}

.like-button {
  height: 44px;
  width: 44px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/heart_prod.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

.save-button_product {
  top: 20px;
}

.like-button:hover {
  opacity: 0.8;
}

.product-form__pros {
  list-style-type: none;
  padding: 0;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.product-form__pro {
  display: flex;
  align-items: center;
}

.product-form__pro-icon {
  width: 22px;
  height: 22px;
}

.product-form__pro-text {
  margin-left: 8px;
  font-size: 14px;
}

.mobile-margin {
  margin-bottom: 140px;
}

.product-form_mobile {
  position: fixed;
  bottom: 53px;
  /* left: 0; */
  width: 100%;
  margin: 0 -15px;
  background-color: white;
  display: flex;
  align-items: center;
  /* padding: 20px 10px; */
  /* box-shadow: 0 4px 20px rgba(0,0,0,.1); */
  z-index: 3;
  display: none;
}

.main-info_mobile {
  display: none;
}

.gallery_mobile {
  display: none;
  position: relative;
}

/* slick adjustments */

.slick-dots {
  bottom: 0;
  display: block;
}

.slick-dots li button:before {
  font-size: 7px;
}

.slick-dots li.slick-active button:before {
  color: var(--product-color);
}

.slick-dots li button:before {
  color: var(--product-color);
}

/* UPSELLS */

.upsell-card__container {
}
/* 
.upsell-card__container-nostock {
  opacity: 0.7;
} */

.product__upsells-header {
  font-size: 15px;
}

.upsell-card {
  max-width: 200px;
  box-sizing: border-box;
  position: relative;
  /* overflow: hidden; */
}

.upsell-card__image {
  width: 100%;
  /* height: 345px; */
  object-fit: contain;
}

.product__upsells_ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
  /* display: grid;
   */
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-auto-flow: row; */
  /* grid-template-rows: repeat(4, 1fr); */
  gap: 20px 25px;
  justify-items: center;
  min-height: 50vh;
}

.upsell__previews {
  position: absolute;
  width: 100%;
  height: 100%;
}

.upsell__image-container {
  position: relative;
}

.upsell__sold-label {
  width: 40%;
  background-color: rgb(132 132 132);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.upsell-label_active {
  visibility: visible;
  z-index: 1;
}

.upsell__label-font {
  color: white;
  font-size: 13px;
  margin: 5px 0;
  text-align: center;
}

.about-stone__header {
  font-size: 17px;
  font-weight: 600;
  margin: 15px 0;
}

.about-stone__subheader {
  font-size: 15px;
  font-weight: 500;
}

.about-stone__info {
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 7px 0;
}

.about-stone__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-stone__maintext {
  font-size: 16px;
  line-height: 20px;
}

.about-stone__texts {
  width: 70%;
}

.about-stone__pic {
  max-width: 25%;
  object-fit: contain;
  margin: 15px 0 15px 20px;
}

.about-stone__show-more {
  color: var(--product-color);
  font-weight: 600;
  border-bottom: 2px dotted;
}

.specials__container {
  position: relative;
  margin-top: 20px;
}

.specials__list {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.specials__list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0, 2s;
}

.specials__list-item:hover {
  opacity: 0.8;
}

.specials__cover {
  background-color: #237296;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specials__pic {
  height: 40px;
  max-width: 40px;
  filter: invert();
}

.specials__text {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  margin: 2px 0 0 0;
  padding-bottom: 2px;
  border-bottom: 2px dotted;
  color: #3b3b3b;
  width: fit-content;
  cursor: pointer;
}

.specials__popup {
  position: absolute;
  top: 130px;
  left: 0;
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 16px 20px rgba(0, 0, 0, 0.08);
  display: none;
}

.specials__popup_open {
  display: block;
}

.specials__popup-text {
  font-size: 14px;
  font-weight: 500;
}

.instock_mobile {
  margin: 5px 0;
  font-weight: 500;
  font-size: 14px;
  color: #6f6f6f;
}

/* .saveCount {
  font-weight: 600;
  color: black;
} */

.instock_pc {
  font-size: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .product__upsells_ul {
    gap: 15px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .product__container {
    flex-direction: column;
    margin: 0 10px;
  }

  .product {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .product__container {
    gap: 0;
    margin: 0 15px 30px 15px;
  }

  .product-form {
    display: none;
  }

  .product_block_2 {
    width: 100%;
  }

  .product_block_3 {
    width: 100%;
    padding: 0;
  }

  .add-button {
    margin-left: 10px;
    font-size: 16px;
  }

  .lonely-button {
    margin: 0 10px;
  }

  .onestep-button {
    margin-right: 10px;
  }

  .add-button_added {
    margin: 10px 10px;
    font-size: 16px;
  }

  .product-form_mobile {
    display: flex;
    gap: 5px;
  }

  .main-info_mobile {
    display: flex;
    flex-direction: column;
  }

  .product__price {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
  }

  .product__price_crossed {
    font-weight: 400;
    opacity: 0.6;
    text-decoration: line-through;
    font-size: 17px;
  }

  .product__sale-price {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
    margin-left: 8px;
    color: #f93c00;
  }

  .product__title {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    max-width: 90%;
  }

  .gallery {
    display: none;
  }

  .gallery_mobile {
    display: block;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .mobile-video-container {
    width: 100%;
    min-height: 440px;
    display: flex;
    align-items: center;
  }

  .gallery_mobile-video {
    width: 100%;
  }

  .gallery__main-pic {
    max-width: 100%;
  }

  .card__image-overlay {
    top: 0px;
    left: 0px;
  }

  .product__upsells-header {
    margin: 20px 0 20px 15px;
  }

  .product__upsells {
  }

  .product__upsells_ul {
  }

  .upsell-card {
  }

  .product__2nd-title {
    margin: 20px 0;
  }

  /* .upsell__sold-label {
    width: 25%;
    background-color: rgb(95, 95, 95);
    position: absolute; 
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .label_active {
    visibility: visible;
    z-index: 1;
  } */

  .upsell__label-font {
    font-size: 10px;
  }

  .table_column_right {
    min-width: 0;
    text-align: end;
  }

  tbody td {
    max-width: 50%;
  }
}

@media screen and (max-width: 430px) {
  .product_font_main {
    font-size: 16px;
  }

  .size-pseudo-button {
    font-size: 13px;
  }

  .gallery_mobile {
    overflow: hidden;
  }

  .product__upsells_ul {
  }

  .upsell-card {
    max-width: 170px;
  }

  .about-stone__header {
    font-size: 17px;
  }

  .about-stone__subheader {
    font-size: 16px;
  }

  .about-stone__info {
    font-size: 15px;
  }

  .about-stone__container {
    flex-direction: column-reverse;
  }

  .about-stone__maintext {
    font-size: 16px;
  }

  .about-stone__texts {
    width: 100%;
    display: none;
  }

  .about-stone__texts_visible {
    display: block;
  }

  .about-stone__pic {
    max-width: 40%;
    object-fit: contain;
    margin: 15px;
  }

  .about-stone__piece {
    margin-bottom: 15px;
  }

  .about-stone__show-more {
    font-size: 14px;
    padding-bottom: 2px;
  }

  .specials__cover {
    width: 60px;
    height: 60px;
  }

  .specials__pic {
    height: 55px;
    max-width: 60px;
  }

  .specials__popup {
    position: relative;
    top: 0;
  }
}

@media screen and (max-width: 380px) {
  .upsell-card {
    max-width: 150px;
  }
}
