.crumbs {
  margin-bottom: 40px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.crumbs__list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.crumb {
  margin-right: 10px;
}

.crumb__link {
  text-decoration: none;
  font-size: 12px;
  color: gray;
}

.crumb-buttons {

}

.crumb-button {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-image: url(../../images/eye.svg);
}